### 設定區 ###

# 模組包名稱
Modpack_Name=FTB-StoneBlock-3

### 陣列複製

# 補丁複製陣列（哪些資料夾與檔案需要複製進補丁）
Client_Patch_Array=(config kubejs resourcepacks LICENSE options.txt)

# 伺服器補丁複製陣列
Server_Patch_Array=(config/ftbquests kubejs/server_scripts kubejs/startup_scripts LICENSE)

### 選項開關

# 是否生成「模組包資源包補丁」
Resourcepack_Patch_Generate=true

# 是否生成「伺服器補丁」
Server_Patch_Generate=true
